@page "/Clientes Especiales"

<center>
    <h2>Clientes Que mas han Comprado</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Cliente</th>
      <th scope="col">Total de Compras</th>
      <th scope="col">Cantidad de Facturas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
  </tbody>
</table>

</center>
