@page "/Cumpleaños"

<center>
    <h2>Listado de Cumpleaños de Clientes</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del Cliente</th>
      <th scope="col">Fecha del Cumpleaños</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>

  </tbody>
</table>

</center>
