<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Final</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="()=> ExpandSubMenu= !ExpandSubMenu">
                        <span class="oi oi-list" aria-hidden="true"></span> Reportes
                    </NavLink>

                    @if (@ExpandSubMenu)
                    {
                        <ul class="nav flex-column">
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="ListadoExistencia">
                                    <span class="oi oi-list" aria-hidden="true"></span> Listado Existencia
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="MasVendidos">
                                    <span class="oi oi-list" aria-hidden="true"></span> Mas Vendidos
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="Clientes Especiales">
                                    <span class="oi oi-list" aria-hidden="true"></span> SuperClientes
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="Cumpleaños">
                                    <span class="oi oi-list" aria-hidden="true"></span> Cumpleaños
                                </NavLink>
                            </li>
                            <li class="nav-item px-3">
                                <NavLink class="nav-link" href="Mapa">
                                    <span class="oi oi-map" aria-hidden="true"></span> Mapa
                                </NavLink>
                            </li>
                        </ul>}

                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" @onclick="()=> ExpandSubMenu= !ExpandSubMenu">
                        <span class="oi oi-plus" aria-hidden="true"></span>Almacen
                    </NavLink>
                    @if (ExpandSubMenu)
                    {


                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ProductoInfo">
                            <span class="oi oi-cart" aria-hidden="true"></span>Productos
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="servicioInfo">
                            <span class="oi oi-cog" aria-hidden="true"></span>Servicios
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="ClienteInfo">
                            <span class="oi oi-person" aria-hidden="true"></span>Clientes
                        </NavLink>
                    </li>


                }


                    </li>



                </ul>
            </div>

        </Authorized>
</AuthorizeView>

@code {
    private bool ExpandSubMenu;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
